<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles")
</head>
<body>
    <div class="container">
        <div class="app-bar">
            <a class="app-bar-element" href="...">@ViewBag.Title</a>
            <span class="app-bar-divider"></span>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/Scripts")
    <script>
        $(function () {
            $(".dataTable").dataTable({
                'searching' : true
            });
        });
    </script>
</body>
</html>
